<div class="carousel">
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-1.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,5</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">DIGIT Coin</a>
        <a href="#" class="item__subtitle">(Communication)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div><!-- end item -->
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-2.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,1</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">Quantum1Net</a>
        <a href="#" class="item__subtitle">(Internet)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-3.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,5</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">TradeTalk</a>
        <a href="#" class="item__subtitle">(Cryptocurrency)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-4.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,5</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">TradeTalk</a>
        <a href="#" class="item__subtitle">(Cryptocurrency)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-1.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,5</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">TradeTalk</a>
        <a href="#" class="item__subtitle">(Cryptocurrency)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-1.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,5</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">TradeTalk</a>
        <a href="#" class="item__subtitle">(Cryptocurrency)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <a href="#">
        <div class="item__picture">
          <img src="img/slide-1.png" alt="slide" class="item__img">
        </div>
        <div class="item__rating">
          <span class="rate">4,8</span>
          <span class="star">
            <span class="item__star">
              <i class="ico is-star-full"></i>
            </span>
          </span>
        </div>
      </a>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <a href="#" class="item__title">ClearCoin</a>
        <a href="#" class="item__subtitle">(Cryptocurrency)</a>
        <span class="item__time">
          <i class="ico far fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
</div><!-- end carousel -->