<div class="carousel">
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-1.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,5</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">DIGIT Coin <span>(Communication)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div><!-- end item -->
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-2.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,1</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">Quantum1Net <span>(Internet)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-3.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,5</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">TradeTalk <span>(Cryptocurrency)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-4.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,5</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">TradeTalk <span>(Cryptocurrency)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-1.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,5</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">TradeTalk <span>(Cryptocurrency)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-1.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,5</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">TradeTalk <span>(Cryptocurrency)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
  <div class="item is-small">
    <div class="item__top">
      <div class="item__picture">
        <img src="img/slide-1.png" alt="slide" class="item__img">
      </div>
      <div class="item__rating">
        <span class="rate">4,8</span>
        <span class="star">
          <span class="item__star">
            <i class="ico is-star-full"></i>
          </span>
        </span>
      </div>
    </div>
    <div class="item__bottom">
      <div class="item__content">
        <span class="item__title">ClearCoin <span>(Cryptocurrency)</span></span>
        <span class="item__time">
          <i class="ico fa fa-clock"></i>
          1 Weeks, 6 Day(s) Left
        </span>
      </div>
      <span class="item__btn btn">View ICO Review</span>
    </div>
  </div>
</div><!-- end carousel -->