<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <span class="copyright">© 2018 ICOTracker.com. All rights reserved.</span>
      </div>
      <div class="footer__right">
        <nav class="nav is-footer">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link">Active ICOs</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link"> Upcoming ICOs</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Ended ICOs</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Disclaimer</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Contact us</a>
            </li>
          </ul>
        </nav>
        <div class="social is-footer">
          <ul class="social__list">
            <li class="social__el">
              <a href="#" class="social__link">
                <span class="ico fab fa-facebook-f"></span>
              </a>
            </li>
            <li class="social__el">
              <a href="#" class="social__link">
                <span class="ico fab fa-twitter"></span>
              </a>
            </li>
            <li class="social__el">
              <a href="#" class="social__link">
                <span class="ico fab fa-telegram-plane"></span>
              </a>
            </li>
          </ul>
        </div><!-- end social -->
      </div>
    </div>
  </div>
</footer>
